/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define UML_A RA(Q)
#define UML_S RA(S)
#define UML_U RA(Y)
#define UML_O RA(P)

#define SPC_E RA(N5)

#define WM_MUTE LG(M)
#define WM_A_INC LG(I)
#define WM_A_DEC LG(O)

#define WM_UP LG(UP)
#define WM_DOWN LG(DOWN)
#define WM_LEFT LG(LEFT)
#define WM_RIGHT LG(RIGHT)

#define WM_1 LG(N1)
#define WM_2 LG(N2)
#define WM_3 LG(N3)
#define WM_4 LG(N4)
#define WM_5 LG(N5)
#define WM_6 LG(N6)
#define WM_7 LG(N7)
#define WM_8 LG(N8)
#define WM_9 LG(N9)
#define WM_0 LG(N0)

#define WM_LAUN LG(D)
#define WM_FSCR LG(F)

#define DEFAULT    0
#define NAVIGATION 1
#define NUMBER     2
#define SYMBOL     3
#define UMLAUT     4
#define WINDOWM    5

#define ESCSHIFT &ho_tap LSHFT ESC
#define BACKSHIFT &ho_to LSHFT DEFAULT

/ {
    macros {
        WM_KILL: WM_KILL {
            label = "WM_KILL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp RGUI>
                , <&macro_press   &kp LSHFT>
                , <&macro_tap     &kp Q>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RGUI>
                ;
        };
        WM_FLOAT: WM_FLOAT {
            label = "WM_FLOAT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press   &kp RGUI>
                , <&macro_press   &kp LSHFT>
                , <&macro_tap     &kp SPACE>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RGUI>
                ;
        };
    };

    behaviors {
        bkdel: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT)>;
        };
        mo_to: behavior_mo_to {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&to>;
        };
        ho_tap: behavior_ho_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "ho_tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
        ho_to: behavior_ho_to {
            compatible = "zmk,behavior-hold-tap";
            label = "ho_to";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&to>;
        };
    };    

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------
// | SHIFT |  1  |  2  |  3   |  4      |  5   |                  |  6   | 7       |  8    |  9   |   0   | ---- |
// |  ESCS |  Q  |  W  |  F   |  P      |  B   |                  |  J   | L       |  U    |  Y   |   ;   | BKSP |
// |  TAB  |  A  |  R  |  S   |  T      |  G   |                  |  M   | N       |  E    |  I   |   O   |   '  |
// |  CTRL |  Z  |  X  |  C   |  D      |  V   |  MUTE |  |       |  K   | H       |  ,    |  .   |   /   |   -  |
//               | GUI | ALT  | NAV_UML | SPACE|  ALT  |  | RETURN| SHIFT| NUM_SYM | ----- | F12  |
            bindings = <
&kp LSHFT &kp N1 &kp N2   &kp N3 &kp N4                    &kp N5                           &kp N6     &kp N7               &kp N8    &kp N9   &kp N0   &none
ESCSHIFT  &kp Q  &kp W    &kp F  &kp P                     &kp B                            &kp J      &kp L                &kp U     &kp Y    &kp SEMI &bkdel
&kp TAB   &kp A  &kp R    &kp S  &kp T                     &kp G                            &kp M      &kp N                &kp E     &kp I    &kp O    &kp SQT
&kp LCTRL &kp Z  &kp X    &kp C  &kp D                     &kp V     &kp WM_MUTE &WM_FLOAT  &kp K      &kp H                &kp COMMA &kp DOT  &kp FSLH &kp MINUS
                 &kp LGUI &none  &mo_to UMLAUT NAVIGATION  &kp SPACE &kp LALT    &kp RETURN &kp LSHFT  &mo_to SYMBOL NUMBER &none     &kp F12
            >;

            sensor-bindings = <&inc_dec_kp WM_A_DEC WM_A_INC &inc_dec_kp WM_A_DEC WM_A_INC>;
        };

        nav_layer {
// TODO: Some binds are waiting for shifted keycode support.
// -------------------------------------------------------------------------------------------------------------
// |       | --- | --- |  --- |  --- |  --- |                   |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |
// | BACK/S| --- | --- |  --- |  --- |  --- |                   |  PGU |  HOM  |  UP   |  END  |  DEL  |  BKSP |
// |       | --- | --- |  --- |  --- |  --- |                   |  PGD |  LEFT |  DOWN | RIGHT |  INS  |  ---  |
// |       | --- | --- |  --- |  --- |  --- |        |  |       |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |
//               |     |  --- |  --- |      |        |  |       |      |  ---  |  ---  |  ---  |
            bindings = <
&trans      &none     &none  &none &none &none                  &none     &none       &none    &none     &none   &none
BACKSHIFT   &none     &none  &none &none &none                  &kp PG_UP &kp HOME    &kp UP   &kp END   &kp DEL &trans
&trans      &none     &none  &none &none &none                  &kp PG_DN &kp LEFT    &kp DOWN &kp RIGHT &kp INS &none
&trans      &none     &none  &none &none &none  &trans   &trans &none     &none       &none    &none     &none   &trans
                      &trans &none &none &trans &trans   &trans &trans    &to WINDOWM &none    &none
            >;

            sensor-bindings = <&inc_dec_kp WM_A_DEC WM_A_INC &inc_dec_kp WM_A_DEC WM_A_INC>;
        };
        
        number_layer {
// TODO: Some binds are waiting for shifted keycode support.
// -------------------------------------------------------------------------------------------------------------
// |       | --- | --- |  --- |  --- |  --- |                   |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |
// | BACK/S| --- | F7  |  F8  |  F9  |  F10 |                   |  --- |   7   |   8   |   9   |   ;   |       |
// |       | --- | F4  |  F5  |  F6  |  F11 |                   |  --- |   4   |   5   |   6   |   ,   |   .   |
// |       | --- | F1  |  F2  |  F3  |  F12 |        |  |       |  --- |   1   |   2   |   3   |   =   |   -   |
//               |     |  --- |  --- |      |        |  |       |      |   0   |   0   |  ---  |
            bindings = <
&trans      &none     &none  &none  &none       &none                   &none  &none     &none     &none     &none     &none
BACKSHIFT   &none     &kp F7 &kp F8 &kp F9      &kp F10                 &none  &kp N7 &kp N8 &kp N9 &kp SEMI  &trans
&trans      &none     &kp F4 &kp F5 &kp F6      &kp F11                 &none  &kp N4 &kp N5 &kp N6 &kp COMMA &kp DOT
&trans      &none     &kp F1 &kp F2 &kp F3      &kp F12 &trans   &trans &none  &kp N1 &kp N2 &kp N3 &kp EQUAL &kp MINUS
                      &trans &none  &to WINDOWM &trans  &trans   &trans &trans &kp N0 &kp N0 &none
            >;

            sensor-bindings = <&inc_dec_kp WM_A_DEC WM_A_INC &inc_dec_kp WM_A_DEC WM_A_INC>;
        };
        
        symbol_layer {
// TODO: Some binds are waiting for shifted keycode support.
// -------------------------------------------------------------------------------------------------------------
// |       | --- | --- |  --- |  --- |  --- |                   |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |
// |       |  !  |  @  |   {  |   }  |   *  |                   |  --- |  ---  |  ---  |  ---  |  ---  |       |
// |       |  #  |  $  |   (  |   )  |   `  |                   |  --- |   =   |   €   |  ---  |  ---  |  ---  |
// |       |  %  |  ^  |   [  |   ]  |   ~  |        |  |       |  --- |   \|  |   &   |  ---  |  ---  |  ---  |
//               | --- |  --- |  --- |      |        |  |       |      |  ---  |  ---  |  ---  |
            bindings = <
&trans &none     &none     &none    &none    &none                     &none    &none     &none     &none     &none   &none
&trans &kp EXCL  &kp AT    &kp LBRC &kp RBRC &kp STAR                  &none    &none     &none     &none     &none   &trans
&trans &kp HASH  &kp DLLR  &kp LPAR &kp RPAR &kp GRAVE                 &none    &kp EQUAL &kp SPC_E &none     &none    &none
&trans &kp PRCNT &kp CARET &kp LBKT &kp RBKT &kp TILDE &trans   &trans &none    &kp BSLH  &kp AMPS  &none     &none   &trans
                 &none     &none    &none    &trans    &trans   &trans &trans   &none     &none     &none
            >;

            sensor-bindings = <&inc_dec_kp WM_A_DEC WM_A_INC &inc_dec_kp WM_A_DEC WM_A_INC>;
        };

        umlaut_layer {
            bindings = <
&trans &trans    &trans &trans    &trans &trans                 &trans &trans &trans    &trans &trans    &trans
&trans &trans    &trans &trans    &trans &trans                 &trans &trans &kp UML_U &trans &trans    &trans
&trans &kp UML_A &trans &kp UML_S &trans &trans                 &trans &trans &trans    &trans &kp UML_O &trans
&trans &trans    &trans &trans    &trans &trans &trans   &trans &trans &trans &trans    &trans &trans    &trans
                 &trans &trans    &none  &trans &trans   &trans &trans &trans &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp WM_A_DEC WM_A_INC &inc_dec_kp WM_A_DEC WM_A_INC>;
        };
        
        wm_layer {
// TODO: Some binds are waiting for shifted keycode support.
// --------------------------------------------------------------------------------------------------------------
// |       | ---  | --- |  --- |  --- |  --- |                   |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |
// | BACK/S| KILL | LA7 |  LA8 |  LA9 |  --- |                   |  --- |  ---  |  UP   |  ---  |  ---  |  ---  |
// |       | LAUN | LA4 |  LA5 |  LA6 |  --- |                   |  --- |  LEFT |  DOWN | RIGHT |  ---  |  ---  |
// |       | FULL | LA1 |  LA2 |  LA3 |  --- |        |  |       |  --- |  ---  |  ---  |  ---  |  ---  |  ---  |
//                | --- |  --- |  LA0 |      |        |  |       |      |  ---  |  ---  |  ---  |
            bindings = <
&trans      &none       &none    &none    &none    &none                  &none  &none       &none       &none        &none   &none
BACKSHIFT   &WM_KILL    &kp WM_7 &kp WM_8 &kp WM_9 &none                  &none  &none       &kp WM_UP   &none        &none   &none
&trans      &kp WM_LAUN &kp WM_4 &kp WM_5 &kp WM_6 &none                  &none  &kp WM_LEFT &kp WM_DOWN &kp WM_RIGHT &none   &none
&trans      &kp WM_FSCR &kp WM_1 &kp WM_2 &kp WM_3 &none  &trans   &trans &none  &none       &none       &none        &none   &none
                        &none    &none    &kp WM_0 &trans &trans   &trans  &trans &none       &none       &none
            >;

            sensor-bindings = <&inc_dec_kp WM_A_DEC WM_A_INC &inc_dec_kp WM_A_DEC WM_A_INC>;
        };
    };
};
